
black
isort
pylint
mypy
autoflake

# Testing
pytest
pytest-cov
coverage
factory-boy

# Typing
types-python-dateutil

# ML/Vector/LLM
transformers
torch
torchvision
torchaudio
sentence-transformers
langchain
langchain-core
langchain-qdrant
langchain-google-genai
langchain-ollama
langgraph
langchain_core
langchain_community
qdrant-client

# Web/API
fastapi
uvicorn
streamlit
requests
lxml
python-dotenv

# Data/Utils
pydantic
typing-extensions
dataclasses

