# Code Quality
black
isort
pylint
mypy
autoflake

# Testing
pytest
pytest-cov
coverage
factory-boy

# Typing
types-python-dateutil

transformers
torch
torchvision
torchaudio
qdrant-client
